@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .register-image {
    min-height: calc(100vh - 84px);
  }
  .drawer {
    width: calc(100% - 72px);
  }
  .react-aria-Popover[data-trigger="Select"] {
    width: var(--trigger-width);
  }
  .listBoxItem {
    @apply flex items-center p-4 outline-none hover:cursor-pointer;
  }
  input:-webkit-autofill {
    background-color: transparent;
    box-shadow: 0 0 0px 1000px white inset;
  }
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background-color: transparent;
  }

  /*
   * Article
   */

  .article h1 {
    @apply mb-16 text-2xl md:mb-28 lg:-mr-[30%] lg:text-4xl;
  }
  .article h2 {
    @apply mb-8 mt-16 text-lg font-semibold;
  }
  .article ul {
    @apply my-4 list-disc pl-6 text-left;
  }
  .article ol {
    @apply my-4 list-decimal pl-6 text-left;
  }
  .article div {
    @apply mt-10;
  }
  .article p {
    @apply my-4;
  }

  /*
   * Accordion
   */
  .accordion-header {
    height: 100%;
    width: 100%;
    padding: 32px 0;
    text-align: left;
  }
  .accordion-change {
    text-decoration: underline;
    text-underline-offset: 4px;
    outline: none;
  }
  .accordion-change:hover {
    cursor: pointer;
  }

  /*
   * Swiper
   */
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
  div .swiper-button-prev,
  div .swiper-button-next {
    width: 40px;
    display: none;
  }

  @media (min-width: 640px) {
    div .swiper-button-prev,
    div .swiper-button-next {
      display: block;
    }
  }
  div .swiper-button-prev.swiper-button-disabled,
  div .swiper-button-next.swiper-button-disabled {
    opacity: 1;
  }

  div .swiper-pagination-bullet-active {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: default;
  }

  .popout-width {
    min-width: calc(100% - 32px);
  }
  .swiper-container {
    max-width: 100%;
  }

  div .swiper-padding {
    padding: 0 16px;
    overflow: visible;
  }

  /*
  * Pulled background
  */
  .pulled-background-account::after {
    width: calc(100% + (100vw - 100%) / 2 - 4px);
    height: 100%;
  }

  .pulled-background-account::before {
    width: 100vw;
    height: 100%;
  }
  @media (min-width: 1024px) {
    .pulled-background-account::after {
      height: calc(100vh - 84px);
    }
    .pulled-background-account::before {
      height: calc(100vh - 84px);
    }
  }

  @media (min-width: 640px) {
    .swiper-container {
      padding-inline: calc(50% - 320px);
    }
  }
  @media (min-width: 768px) {
    .swiper-container {
      padding-inline: calc(50% - 384px);
    }
    div .swiper-padding {
      padding: 0 24px;
    }
    .pulled-background-account::after {
      width: calc(100% + ((100vw - 100%) / 2 - 16px));
    }
  }
  @media (min-width: 1024px) {
    .swiper-container {
      padding-inline: calc(50% - 512px);
    }
    .pulled-background::after {
      width: calc((100% + 60px) + ((100vw - 1024px) / 2));
      margin-left: -48px;
    }
    .pulled-background-account {
      height: calc(100vh - 84px);
    }
    .pulled-background-account::after {
      width: calc((100% + 48px) + ((100vw - 1024px) / 2));
    }
  }
  @media (min-width: 1296px) {
    .swiper-container {
      padding-inline: calc(50% - 648px);
    }
    .pulled-background::after {
      width: calc((100% + 60x) + ((100vw - 1296px) / 2));
    }
    .pulled-background-account::after {
      width: calc((100% + 48px) + ((100vw - 1296px) / 2));
    }
  }
  @media (min-width: 1536px) {
    .pulled-background::after {
      width: calc((100% + 60px) + ((100vw - 1536px) / 2));
    }
    .pulled-background-account::after {
      width: calc((100% + 48px) + ((100vw - 1536px) / 2));
    }
    .container {
      max-width: 1296px;
    }
  }
}
@layer utilities {
  .w-column-1 {
    width: calc((1 / 12) * 100%);
  }
  .w-column-2 {
    width: calc((2 / 12) * 100%);
  }
  .w-column-3 {
    width: calc((3 / 12) * 100%);
  }
  .w-column-4 {
    width: calc((4 / 12) * 100%);
  }
  .w-column-5 {
    width: calc((5 / 12) * 100%);
  }
  .w-column-6 {
    width: calc((6 / 12) * 100%);
  }
  .w-column-7 {
    width: calc((7 / 12) * 100%);
  }
  .w-column-8 {
    width: calc((8 / 12) * 100%);
  }
  .w-column-9 {
    width: calc((9 / 12) * 100%);
  }
  .w-column-10 {
    width: calc((10 / 12) * 100%);
  }
  .w-column-11 {
    width: calc((11 / 12) * 100%);
  }
  .w-column-12 {
    width: calc((12 / 12) * 100%);
  }

  .sm\:w-column-1 {
    width: calc((1 / 12) * 100%);
  }
  .sm\:w-column-2 {
    width: calc((2 / 12) * 100%);
  }
  .sm\:w-column-3 {
    width: calc((3 / 12) * 100%);
  }
  .sm\:w-column-4 {
    width: calc((4 / 12) * 100%);
  }
  .sm\:w-column-5 {
    width: calc((5 / 12) * 100%);
  }
  .sm\:w-column-6 {
    width: calc((6 / 12) * 100%);
  }
  .sm\:w-column-7 {
    width: calc((7 / 12) * 100%);
  }
  .sm\:w-column-8 {
    width: calc((8 / 12) * 100%);
  }
  .sm\:w-column-9 {
    width: calc((9 / 12) * 100%);
  }
  .sm\:w-column-10 {
    width: calc((10 / 12) * 100%);
  }
  .sm\:w-column-11 {
    width: calc((11 / 12) * 100%);
  }
  .sm\:w-column-12 {
    width: calc((12 / 12) * 100%);
  }

  .md\:w-column-1 {
    width: calc((1 / 12) * 100%);
  }
  .md\:w-column-2 {
    width: calc((2 / 12) * 100%);
  }
  .md\:w-column-3 {
    width: calc((3 / 12) * 100%);
  }
  .md\:w-column-4 {
    width: calc((4 / 12) * 100%);
  }
  .md\:w-column-5 {
    width: calc((5 / 12) * 100%);
  }
  .md\:w-column-6 {
    width: calc((6 / 12) * 100%);
  }
  .md\:w-column-7 {
    width: calc((7 / 12) * 100%);
  }
  .md\:w-column-8 {
    width: calc((8 / 12) * 100%);
  }
  .md\:w-column-9 {
    width: calc((9 / 12) * 100%);
  }
  .md\:w-column-10 {
    width: calc((10 / 12) * 100%);
  }
  .md\:w-column-11 {
    width: calc((11 / 12) * 100%);
  }
  .md\:w-column-12 {
    width: calc((12 / 12) * 100%);
  }

  .lg\:w-column-1 {
    width: calc((1 / 12) * 100%);
  }
  .lg\:w-column-2 {
    width: calc((2 / 12) * 100%);
  }
  .lg\:w-column-3 {
    width: calc((3 / 12) * 100%);
  }
  .lg\:w-column-4 {
    width: calc((4 / 12) * 100%);
  }
  .lg\:w-column-5 {
    width: calc((5 / 12) * 100%);
  }
  .lg\:w-column-6 {
    width: calc((6 / 12) * 100%);
  }
  .lg\:w-column-7 {
    width: calc((7 / 12) * 100%);
  }
  .lg\:w-column-8 {
    width: calc((8 / 12) * 100%);
  }
  .lg\:w-column-9 {
    width: calc((9 / 12) * 100%);
  }
  .lg\:w-column-10 {
    width: calc((10 / 12) * 100%);
  }
  .lg\:w-column-11 {
    width: calc((11 / 12) * 100%);
  }
  .lg\:w-column-12 {
    width: calc((12 / 12) * 100%);
  }

  .xl\:w-column-1 {
    width: calc((1 / 12) * 100%);
  }
  .xl\:w-column-2 {
    width: calc((2 / 12) * 100%);
  }
  .xl\:w-column-3 {
    width: calc((3 / 12) * 100%);
  }
  .xl\:w-column-4 {
    width: calc((4 / 12) * 100%);
  }
  .xl\:w-column-5 {
    width: calc((5 / 12) * 100%);
  }
  .xl\:w-column-6 {
    width: calc((6 / 12) * 100%);
  }
  .xl\:w-column-7 {
    width: calc((7 / 12) * 100%);
  }
  .xl\:w-column-8 {
    width: calc((8 / 12) * 100%);
  }
  .xl\:w-column-9 {
    width: calc((9 / 12) * 100%);
  }
  .xl\:w-column-10 {
    width: calc((10 / 12) * 100%);
  }
  .xl\:w-column-11 {
    width: calc((11 / 12) * 100%);
  }
  .xl\:w-column-12 {
    width: calc((12 / 12) * 100%);
  }

  .offset-0 {
    margin-left: 0;
  }
  .offset-1 {
    margin-left: calc((1 / 12) * 100%);
  }
  .offset-2 {
    margin-left: calc((2 / 12) * 100%);
  }
  .offset-3 {
    margin-left: calc((3 / 12) * 100%);
  }
  .offset-4 {
    margin-left: calc((4 / 12) * 100%);
  }
  .offset-5 {
    margin-left: calc((5 / 12) * 100%);
  }
  .offset-6 {
    margin-left: calc((6 / 12) * 100%);
  }
  .offset-7 {
    margin-left: calc((7 / 12) * 100%);
  }
  .offset-8 {
    margin-left: calc((8 / 12) * 100%);
  }
  .offset-9 {
    margin-left: calc((9 / 12) * 100%);
  }
  .offset-10 {
    margin-left: calc((10 / 12) * 100%);
  }
  .offset-11 {
    margin-left: calc((11 / 12) * 100%);
  }

  .sm\:offset-0 {
    margin-left: 0;
  }
  .sm\:offset-1 {
    margin-left: calc((1 / 12) * 100%);
  }
  .sm\:offset-2 {
    margin-left: calc((2 / 12) * 100%);
  }
  .sm\:offset-3 {
    margin-left: calc((3 / 12) * 100%);
  }
  .sm\:offset-4 {
    margin-left: calc((4 / 12) * 100%);
  }
  .sm\:offset-5 {
    margin-left: calc((5 / 12) * 100%);
  }
  .sm\:offset-6 {
    margin-left: calc((6 / 12) * 100%);
  }
  .sm\:offset-7 {
    margin-left: calc((7 / 12) * 100%);
  }
  .sm\:offset-8 {
    margin-left: calc((8 / 12) * 100%);
  }
  .sm\:offset-9 {
    margin-left: calc((9 / 12) * 100%);
  }
  .sm\:offset-10 {
    margin-left: calc((10 / 12) * 100%);
  }
  .sm\:offset-11 {
    margin-left: calc((11 / 12) * 100%);
  }

  .md\:offset-0 {
    margin-left: 0;
  }
  .md\:offset-1 {
    margin-left: calc((1 / 12) * 100%);
  }
  .md\:offset-2 {
    margin-left: calc((2 / 12) * 100%);
  }
  .md\:offset-3 {
    margin-left: calc((3 / 12) * 100%);
  }
  .md\:offset-4 {
    margin-left: calc((4 / 12) * 100%);
  }
  .md\:offset-5 {
    margin-left: calc((5 / 12) * 100%);
  }
  .md\:offset-6 {
    margin-left: calc((6 / 12) * 100%);
  }
  .md\:offset-7 {
    margin-left: calc((7 / 12) * 100%);
  }
  .md\:offset-8 {
    margin-left: calc((8 / 12) * 100%);
  }
  .md\:offset-9 {
    margin-left: calc((9 / 12) * 100%);
  }
  .md\:offset-10 {
    margin-left: calc((10 / 12) * 100%);
  }
  .md\:offset-11 {
    margin-left: calc((11 / 12) * 100%);
  }

  .lg\:offset-0 {
    margin-left: 0;
  }
  .lg\:offset-1 {
    margin-left: calc((1 / 12) * 100%);
  }
  .lg\:offset-2 {
    margin-left: calc((2 / 12) * 100%);
  }
  .lg\:offset-3 {
    margin-left: calc((3 / 12) * 100%);
  }
  .lg\:offset-4 {
    margin-left: calc((4 / 12) * 100%);
  }
  .lg\:offset-5 {
    margin-left: calc((5 / 12) * 100%);
  }
  .lg\:offset-6 {
    margin-left: calc((6 / 12) * 100%);
  }
  .lg\:offset-7 {
    margin-left: calc((7 / 12) * 100%);
  }
  .lg\:offset-8 {
    margin-left: calc((8 / 12) * 100%);
  }
  .lg\:offset-9 {
    margin-left: calc((9 / 12) * 100%);
  }
  .lg\:offset-10 {
    margin-left: calc((10 / 12) * 100%);
  }
  .lg\:offset-11 {
    margin-left: calc((11 / 12) * 100%);
  }

  .xl\:offset-0 {
    margin-left: 0;
  }
  .xl\:offset-1 {
    margin-left: calc((1 / 12) * 100%);
  }
  .xl\:offset-2 {
    margin-left: calc((2 / 12) * 100%);
  }
  .xl\:offset-3 {
    margin-left: calc((3 / 12) * 100%);
  }
  .xl\:offset-4 {
    margin-left: calc((4 / 12) * 100%);
  }
  .xl\:offset-5 {
    margin-left: calc((5 / 12) * 100%);
  }
  .xl\:offset-6 {
    margin-left: calc((6 / 12) * 100%);
  }
  .xl\:offset-7 {
    margin-left: calc((7 / 12) * 100%);
  }
  .xl\:offset-8 {
    margin-left: calc((8 / 12) * 100%);
  }
  .xl\:offset-9 {
    margin-left: calc((9 / 12) * 100%);
  }
  .xl\:offset-10 {
    margin-left: calc((10 / 12) * 100%);
  }
  .xl\:offset-11 {
    margin-left: calc((11 / 12) * 100%);
  }
}
